.card-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30rem;
    align-items: flex-start;
    background-color: #f9f9f9;
}

.color-style {
    background-color: rgb(236, 233, 233);
    font-family: Arial-Black, sans-serif;
    height: 42px;
    width: 100%;
    color: black;
    font-size: 14px;
    letter-spacing: -1px;
}

.color-stripe {
    /* background: linear-gradient(to right, #00af66, #ff6720); */

    height: 8px;
    width: 100%;
}

.product {
    width: 100%;
    height: auto;
}

.material {
    background-color: rgb(236, 233, 233);
    font-family: Arial-Black, sans-serif;
    height: 42px;
    width: 100%;
    color: black;
    font-size: 14px;
    letter-spacing: -1px;
}

.AddtoCart {

    background-color: #00af66;
    font-family: Arial-Black, sans-serif;
    height: 42px;
    width: 100%;
    color: black;
    font-size: 14px;
    display: flex;
    letter-spacing: -1px;
    justify-content: space-between;
    align-items: flex-start;
}