.TopNavContainer {
    display: flex;
    width: auto;
    height: auto;
    /* background-color: bisque; */
    justify-content: space-between;
    align-items: flex-start;
    padding:16px 56px;
}


.homerlogo {
    height: 32px;
    width: auto;
    display: block;
}


.navbuttons {
    display: flex;
    gap: 64px;
}