.kalTopnav {
    display: flex;
    width: auto;
    height: auto;
    background-color: bisque;
}

.logocontainer {
  padding: 20px 0px;
}

.homerlogo {
     height: 32px;
   width: auto;
   display: block;
}